<div class="layout" [class.resizing]="resizing()">
  <aside class="editor" [style.width.px]="editorWidth()">
    <app-toolbar
      [working]="(isWorking$ | async) ?? false"
      (load)="store.open()"
      (download)="cam.download()"
    />

    <div class="editor_content">
      <app-model-editor
        [model]="store.value"
        (modelChange)="store.set($event)"
      />
    </div>
  </aside>

  <app-editor-divider [(width)]="editorWidth" [(resizing)]="resizing" />

  <app-viewer
    [shapes]="cam.shapes$"
    [paths]="cam.paths$"
    [highlight]="(cam.highlight$ | async) ?? NO_HIGHLIGHT"
    [hiddenShapes]="(cam.hiddenShapes$ | async) ?? []"
  />
</div>
